{# Hérite du père qui fait partie d'un bundle mais pas d'un contrôleur d'où l'absence de contrôleur dans l'appellation #}

{% extends "DataProcessingProjectBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}


{% block platform_body %}

	<h2>List of Adverts</h2>

	<ul>
		{% for advert in listAdverts %}
		<li>
			{% if advert.image is not null %}
				<img src=" {{ asset( advert.image.getWebPath  ) }}" style= "width:100px; height=100px " >
			{% endif %}
			<a href="{{ path( 'data_processing_project_view', { 'id' : advert.id } ) }}"> {{ advert.title }}
			</a>
			par {{ advert.author }}, 
			le {{ advert.date|date('d/m/Y') }}
		</li>
		{% else %}
			<li> Pas encore d'annonces </li>
		{% endfor %}
	</ul>
		<p>
		{%  if currentPage < nbTotalPages %}
			<a href="{{ path( 'data_processing_project_home', { 'page': currentPage+1 } ) }}" class="btn btn-default">
			      <i class="glyphicon glyphicon-step-forward"></i>
			      Next Page
			</a>
		{% endif %}
		{%  if currentPage > 1 %}
			<a href="{{ path( 'data_processing_project_home', { 'page': currentPage-1 } ) }}" class="btn btn-default">
			      <i class="glyphicon glyphicon-step-backward"></i>
			      Previous Page
			</a>
		{% endif %}
		</p>

{% endblock %}