{% extends "DataProcessingProjectBundle::layout.html.twig" %}

{% block title %}
  Delete a Comment - {{ parent() }}
{% endblock %}

{% block platform_title %}
	<h1> Comment </h1>
{% endblock %}

{% block platform_body %}

	<h3>Delete a Comment</h3>
	<h4>Please select an category</h4>

	<div class="well">

		{{ form_start( form, { 'attr': { 'class': 'form-horizontal' } } ) }}

	    {{ form_errors( form ) }}

	    {% if form.comment is defined %}
		    <div class="form-group">
		    	{{ form_label( form.comment, "Comment ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		    	{{ form_errors( form.comment )}}
		    	<div class="col-sm-4">
		    		{{ form_widget( form.comment, {'attr':{'class': 'form-control'}}) }}
		    	</div>
		    </div>
	    {% endif %}


		<p>
			<a href="{{ path( 'data_processing_project_comments', { 'advertId' : advert } ) }}" class="btn btn-default">
			      <i class="glyphicon glyphicon-chevron-left"></i>
			      Back
		   	</a>
		  	{% if form.save is defined %}
		    	{{ form_widget( form.save, {'attr': {'class': 'btn btn-primary'}}) }}
		  	{% endif %}
	 	</p>

	    {{ form_rest(form) }}
	    {{ form_end(form) }}

	</div>
    


{% endblock %}