{% extends "::layout.html.twig" %}
    
    {% block body %}

    <h3>Log in</h3>
   

   <h4>You can log in by using your username or your email adress for the username</h4>

    {% if registration is defined %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username"  />

                <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit" class="btn btn-success">Log in</button>
        </form>

    {% else %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <button type="submit" class="btn btn-success">Log in</button>
        </form>

  {% endif %}

        <a href="{{ path( 'registration' )}}" class="btn btn-primary">
            Registration 
        </a>
        
    
  


{% endblock %}
