{% extends "DataProcessingProjectBundle::layout.html.twig" %}

{% block title %}
  Display of the Search by Category - {{ parent() }}
{% endblock %}

{% block platform_title %}
	<h1> Activity </h1>
{% endblock %}

{% block platform_body %}

	<h2> Category : {{ category }} </h2>
	<br/>

	{% if activities is not null %}
		<h4> This category contains the following activities : </h4>
		{% for activity in activities %}
			<h4><b>{{ activity.name }}</h4></b>
			<div class="well">
				{{ activity.description }}
			</div>
				<p>This activity cost in average {{ activity.averageprice }}€</p>
				<p>Where to do that ?
					{% for ad in advertsActivity[ activity.id ] %}
						{{ ad['title'] }}{% if not loop.last %}, {% endif %}
					{% endfor %}
				</p>
			<br/>
		{% endfor %}
	{% else %}
		<i>There is no adverts in this category</i>
	{% endif %}


{% endblock %}